
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Add New Language</h2>
<br />
<form class="form-group" method="post">
    <label>Description</label>
    <input type="text" name="LanguageDescription" class="form-control" />
    <br />
    <button class="btn btn-success">SAVE</button>
</form>