
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Add New Skill</h2>
<br />
<form class="form-group" method="post">
    <label>Title</label>
    <input type="text" name="SkillTitle" class="form-control" />
    <label>Description</label>
    <textarea type="text" name="SkillName" class="form-control"></textarea>
    <br />
    <button class="btn btn-success">SAVE</button>
</form>