
    <div class="my-auto">
        <h2 class="mb-5">Interests</h2>
        <form method="post">
            <label>Name Surname:</label>
            <input type="text" class="form-control" name="ContactNameSurname" />
            <label>Mail:</label>
            <input type="text" class="form-control" name="ContactMail" />
            <label>Subject:</label>
            <input type="text" class="form-control" name="ContactSubject" />
            <label>Message:</label>
            <textarea type="text" class="form-control" name="ContactContext"></textarea>
            <br />
            <button class="btn btn-success">SEND</button>
        </form>
    </div>