
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Add New Education</h2>
<br />
<form class="form-group" method="post">
    <label>Title</label>
    <input type="text" name="EducationTitle" class="form-control" />
    <label>Subtitle</label>
    <input type="text" name="EducationSubtitle" class="form-control" />
    <label>Average</label>
    <input type="text" name="EducationAvg" class="form-control" />
    <label>Date</label>
    <input type="text" name="EducationDate" class="form-control" />
    <label>Description</label>
    <textarea type="text" name="EducationDescription" class="form-control"></textarea>
    <br />
    <button class="btn btn-success">SAVE</button>
</form>